.page{
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
}

.page_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_header h1{
    color: #004643;
}

.page_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.no_events{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no_events button{
    height: 45px;
    padding: 10px;
    background-color: #004643;
    border: 1px solid #004643;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.no_events button:hover{
    background-color: white;
    color: #004643;
}

.event_modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_event{
    background-color: #d9d9d9;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    border-radius: 10px;
}

.add_event h2{
    color: #004643;
}

.add_event h1{
    color: #004643;
}

.type_select{
    font-size: 20px;
}

.type_select span{
    transition: 0.3s;
    cursor: pointer;
}

.type_select span.active{
    font-weight: bold;
    color: #004643;
    text-decoration: underline;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 400px;
}

form div .normal_input{
    width: 400px;
    background-color: transparent;
    border: 2px solid #004643;
    height: 45px;
    margin: 10px 0px;
    border-radius: 5px;
    padding-left: 10px;
}

form div textarea{
    width: 400px;
    background-color: transparent;
    height: 150px;
    border: 2px solid #004643;
    border-radius: 5px;
    padding-left: 10px;
}

form button{
    width: 400px;
    background-color: #004643;
    height: 45px;
    border: 1px solid #004643;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

form button:hover{
    background-color: white;
    color: #004643;
}


@media (max-width: 640px) {
    .page{
        padding: 20px;
    }

    .no_events h2{
        text-align: center;
    }
}