.error_message {
    font-size: 14px;
    margin-top: 5px;
    background-color: rgb(243, 110, 110);
    padding: 10px;
    border-radius: 5px;
}

.error_message p {
    color: white;
    font-weight: bold;
    font-size: 17px;
}