.navbar{
    padding: 0px 60px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

.search_bar{
    width: 60%;
    height: 70%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.search_bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    height: 100%;
    padding-left: 20px;
    font-weight: 1.3rem;
}

.search_bar input:focus{
    outline: none;
}


.search_icon{
    background-color: #F9B663;
    width: 40px;
    height: 40px;
    color: #004643;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_icon_alt{
    background-color: #004643;
    width: 40px;
    height: 40px;
    color: #F9B663;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search_icon_alt:hover{
    background-color: #00b4ab;
}

.event_list_area{
    height: calc(100% - 80px);
    padding: 10px 60px;
    background-color: #D9D9D9;
    overflow: auto;
}

.popular_events_list, .recent_events_list{
    margin-top: 20px;
}

.event_list{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.event_card{

    background-color: #C5D3D3;
    max-width: 400px;
    min-width: 400px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.event_card:hover{
    scale: 1.05;
}

.event_card img{
    width: 100%;;
}

.card_infos{
    padding: 10px;
}

.card_title{
    font-weight: bold;
    font-size: 1.3rem;
}

.card_infos p{
    margin-bottom: 5px;
    color: #004643;
    display: flex;
    align-items: center;
}

.card_infos svg{
    margin-right: 10px;
}

.card_infos button{
    width: 100%;
    height: 35px;
    color: white;
    font-weight: bold;
    background-color: #004643;
    border: 1px solid #004643;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.card_infos button:hover{
    background-color: white;
    color: #004643;
}

.card_image{
    width: 100%;
    height: 200px;
    background-color: #004643;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.return_button{
    background-color: #F9B663;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer
}

.return_button:hover{
    background-color: white;
}

.header_logo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
    color: white;
    font-size: 25px;
}

.mobile_search{
    display: none;
}

.filters{
    max-width: 500px;
    background-color: #004643;
    color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.filters h2{
    color: white;
}

.checkbox_area{
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    margin-left: 20px;
}

.checkbox_item{
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
}

.checkbox_text{
    color: white;
}

.checked{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: green;
}

.unchecked{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

@media (max-width: 640px) {
    .event_list_area{
        padding: 10px;
    }

    .popular_events_list, .recent_events_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .event_card{
        margin: 0;
        margin-bottom: 15px;
    }

    .navbar{
        justify-content: space-between;
        padding: 10px;
    }

    .header_logo{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .search_bar{
        display: none;
    }

    .mobile_search{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #004643;
        padding: 15px;
        border-radius: 10px;
    }

    .mobile_input{
        background-color: white;
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 30px;
        padding-left: 10px;
    }

    .mobile_input:focus{
        outline: none;
    }

    .mobile_icon{
        background-color: #F9B663;
        min-width: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 10px;
    }

    .mobile_input_area{
        width: 100%;
        background-color: white;
        display: flex;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
    }

    .mobile_filter{
        background-color: #F9B663;
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters{
        margin-top: 5px;
    }
}