.feed_area{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.post_list{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_post_form{
    background-color: #004643;
    color: white;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
}

.add_post_form h2{
    color: white;
    margin-bottom: 10px;
}

.add_post_form form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.add_post_form textarea{
    width: 100%;
    height: 140px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.add_post_form .publish_button{
    background-color: #F9B663;
    width: 200px;
    color: #004643;
    transition: 0.3s;
}

.add_post_form .publish_button:hover{
    background-color: white;
}

.image_input{
    min-width: 700PX;
}

.image_input p{
    margin-bottom: 10px;
    color: white;
}

.image_input input[type="file"]::file-selector-button{
    background-color: #F9B663;
    border: #F9B663;
    color: #004643;
}

.post_buttons_area{
    min-width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add_post_form div .image_input p{
    margin-bottom: 10px;
}

.recomendations{
    flex: 1;
    background-color: aqua;
}