.feed_area{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.post_list{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_post_form{
    background-color: #004643;
    color: white;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
}

.add_post_form h2{
    color: white;
    margin-bottom: 10px;
}

.add_post_form form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.add_post_form textarea{
    width: 100%;
    height: 140px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.add_post_form .publish_button{
    background-color: #F9B663;
    width: 200px;
    color: #004643;
    transition: 0.3s;
}

.add_post_form .publish_button:hover{
    background-color: white;
}

.image_input{
    min-width: 700PX;
}

.image_input p{
    margin-bottom: 10px;
    color: white;
}

.image_input input[type="file"]::file-selector-button{
    background-color: #F9B663;
    border: #F9B663;
    color: #004643;
}

.post_buttons_area{
    min-width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add_post_form div .image_input p{
    margin-bottom: 10px;
}

.feed_selector{
    margin-top: 15px;
    font-size: 23px;
}

.feed_selector span{
    cursor: pointer;
    transition: 0.3s;
}

.feed_post_list{
    width: 90%;
    padding-top: 20px;
}

.post_item{
    background-color: #C5D3D3;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post_header_infos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.owner_profile_pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.owner_profile_pic img{
    width: 100%;
}

.post_infos h3{
    color: #004643;
}

.post_infos p{
    color: #344443;
    font-size: 14px;
}

.post_text_content{
    padding-top: 20px;
}

.feedback_infos{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.feedback_button{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.feedback_button svg{
    margin-right: 5px;
}

.selected{
    color: #004643;
    font-weight: bold;
}

.menuContainer {
    position: relative;
    display: inline-block;
}

.menuButton {
    background: #004643;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}

.menuButton:hover{
    background-color: #609490;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
    min-width: 150px;
    border-radius: 6px;
}

.dropdown button {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 15px 12px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.delete{
    color: red;
    font-weight: bold;
}

.update{
    color: #004643;
    font-weight: bold;
}

.dropdown button svg{
    margin-right: 10px;
}

.dropdown button.delete:hover {
    background-color: #ffcdcd;
}

.dropdown button.update:hover {
    background-color: #cdffdc;
}

.post_images{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.one_image{
    background-color: #004643;
    width: 60%;
    height: 380px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.one_image img{
    width: 130%;
}

.image_column{
    flex-direction: column;
    display: flex;
}

.two_image img{
    overflow: hidden;
    border-radius: 5px;
}

.two_image img{
    width: 130%;
}

.three_image img{
    overflow: hidden;
    border-radius: 5px;
}

.three_image img{
    width: 130%;
}

.divided_image{
    max-width: 50%;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    background-color: #004643;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 3px;
    border-radius: 5px;
}

.single_image{
    max-width: 100%;
    border-radius: 5px;
}

.single_image img{
    max-width: 100%;
}

.divided_image img{
    width: 260%;
}

.image_column .two_image, .image_column .three_image{ 
    background-color: #004643;
    flex: 1;
    width: 300px;
    margin: 2px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
}

.recomendations{
    flex: 1;
    background-color: aqua;
}

@media (max-width: 640px) {
    .recomendations{
        display: none;
    }

    .feed_area{
        display: flex;
        padding: 0;
    }

    .post_list{
        padding: 0;
    }

    .add_post_form{
        width: 100%;
        border-radius: 0px;
    }

    .image_input{
        max-width: fit-content;
    }

    .post_buttons_area {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .post_buttons_area p{
        display: none;
    }

    .image_input{
        min-width: none;
        text-wrap: wrap;
    }
}