.profile_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.profile_header{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #004643;
    padding: 30px;
    border-radius: 20px;
}

.profile_header_pic img{
    max-width: 200px;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_header_info{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.profile_header_info h2{
    font-size: 32px;
    margin-bottom: 15px;
    color: white;
    display: flex;
    align-items: baseline;
}

.profile_header_info h2 div{
    background-color: #F9B663;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.profile_header_info h2 div svg{
    fill: #004643;
}

.profile_header_info h2 div:hover{
    background-color: white;
}

.profile_header_info_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
}

.profile_header_info_left p{
    color: white;
}

.profile_header_info_left p{
    font-size: 16px;
}

.profile_header_edit_profile{
    margin-top: 15px;
}

.profile_header_edit_profile button{
    background-color: #F9B663;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F9B663;
    color: #004643;
    cursor: pointer;
    transition: 0.3s;
}

.profile_header_edit_profile button:hover{
    background-color: white;
    color: #F9B663;
}

.profile_posts_container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
}

.profile_posts_container h2{
    margin-bottom: 15px;
}

.profile_posts_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_posts_container .profile_posts{
    padding: 10px;
    border-radius: 5px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_posts_container .profile_posts .active_tab{
    color: #004643;
    font-weight: bold;
    cursor: pointer;
}

.profile_posts_container .profile_posts .inactive_tab{
    color: black;
    font-weight: normal;
    cursor: pointer;
}

.profile_posts_container .profile_event_container{
    padding: 10px;
    border-radius: 5px;
    flex: 1;
}

.profile_posts_container h2{
    color: #004643;
}

.profile_event_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #8cbebc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subscription_item{
    display: flex;
    flex-direction: row;
    background-color: #004643;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.subscription_item:hover{
    background-color: #016d68;
}

.subscription_item_image{
    width: 120px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscription_item_image img{
    height: 100%;
    border-radius: 5px;
}

.subscription_item_infos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}  

.subscription_item h3{
    color: white;
}

.subscription_item p{
    color: white;
}

.change_password_modal_area{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}   

.change_password_modal_content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
}

.change_password_modal_content h1{
    color: #004643;
}

.change_password_modal_content p{
    color: black;
}

.change_password_modal_tabs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.change_password_modal_tabs button{
    background-color: #004643;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #004643;
}

.change_password_modal_close_button{
    display: flex;
    justify-content: flex-start;
}

.change_password_modal_close_button button{
    background-color: transparent;
    border: none;
    color: #004643;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    gap: 5px;
    padding: 10px;
}

.change_password_modal_change_password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.change_password_modal_change_password p{
    color: black;
    max-width: 380px;
}

.change_password_modal_change_password input{
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #004643;
    background-color: transparent;
    border: 2px solid #004643;
    height: 45px;
    width: 380px;
}

.change_password_modal_initial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
}

.change_password_modal_initial p{
    color: black;
    max-width: 380px;
}

.change_password_modal_initial button{
    background-color: #004643;
    color: white;
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #004643;
    transition: 0.3s;
    cursor: pointer;
}

.change_password_modal_initial button:hover{
    background-color: white;
    color: #004643;
}

.change_password_modal_initial input[type="text"], .change_password_modal_initial input[type="email"]{
    padding-left: 10px;
    border-radius: 5px;
    height: 45px;
    width: 380px;
    border: 1px solid #004643;
    background-color: transparent;
    border: 2px solid #004643;
}

.change_password_modal_change_password button{
    background-color: #004643;
    color: white;
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #004643;
    transition: 0.3s;
    cursor: pointer;
}

.change_password_modal_change_password button:hover{
    background-color: white;
    color: #004643;
}

@media (max-width: 640px) {
    .profile_content{
        padding: 10px;
    }

    .profile_event_container{
        display: none;
    }

    .profile_header{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .profile_header_pic img{
        max-width: 100px;
        min-width: 100px;
    }

    .profile_header_info h2{
        font-size: 24px;
    }
}