.navbar{
    padding: 0px 60px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;   
    font-size: 25px;
    color: white;
}

.header_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.return_button{
    background-color: #F9B663;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}

.return_button:hover{
    background-color: white;
}

.event_area{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.event_area h1{
    color: white;
}

.event_information{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divisory{
    width: 3px;
    height: 70vh;
    background-color: #004643;
}

.event_image{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
}

.map{
    border-radius: 10px;
    border: 2px solid #004643;
}

.event_image img{
    width: 100%;
}

.organizer{
    display: flex;
    align-items: center;
}

.organizer_profile_pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.organizer_profile_pic img{
    width: 100%;
}

.other_event_item{
    background-color: #004643;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.other_event_item:hover{
    scale: 1.03;
    background-color: #005a56;
}

.other_event_item img{
    width: 100px;
    border-radius: 10px;
}

.item_text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.item_text h3{
    color: white;
}

.organizer_name{
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.description h3{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.description h2{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    color: white;
}

.description{
    max-width: 400px;
}

.description h3 svg{
    margin-right: 10px;
}

.description p{
    color: white;
}

.location_details p{
    display: flex;
    align-items: center;
}

.location_details p svg{
    margin-right: 10px;
}

.event_card{
    background-color: #004643;
    padding: 30px;
    color: white;
    border-radius: 20px;
    margin-right: 40px;
}

.subscribe{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #004643;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.subscribe:hover{
    background-color: green;
    color: white;
}

.more_infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.more_infos h1{
    color: #004643;
    margin-bottom: 10px;
}

.more_infos h2{
    color: #004643;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.more_infos h2 svg{
    margin-right: 10px;
}

.other_events{
    height: 100%;
    width: 500px;
    background-color: #C5D3D3;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other_events h2{
    color: #004643;
    margin-bottom: 20px;
}

.event_list_area{
    height: calc(100% - 80px);
    padding: 10px 60px;
    background-color: #D9D9D9;
    overflow: auto;
}
