.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #d9d9d9;
}

.sidebar{
    background-color: #004643;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar_content{
    width: 100%;
}

.navbar_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-bottom: 1px solid #00635e;
}

.navbar_item{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    border-bottom: 1px solid #00635e;
    cursor: pointer;
}

.navbar_item:hover{
    background-color: #36918d52;
}

.active{
    background-color: #36918d52;
}

.profile_pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.profile_pic img{
    width: 100%;
}

.section_icon{
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.3s;
}

.navbar_item h3, .navbar_item p{
    color: white;
    transition: 0.3s;
}

.navbar_item:hover h3, .navbar_item:hover p, .navbar_item:hover .section_icon{
    scale: 1.05;
}

.logout{
    border-top: 1px solid #00635e;
}

.logout_modal_area{
    background-color: rgba(0, 0, 0, 0.767);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout_modal{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.logout_modal button{
    height: 40px;
    background-color: #004643;
    color: white;
    border: 1px solid #004643;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.logout_modal button:hover{
    background-color: white;
    color: #004643;
}

.logout_modal h2, .logout_modal p{
    margin-bottom: 15px;
    text-align: center;
}

.mobile_navbar{
    display: none;
}

@media (max-width: 1281px) {
    .sidebar{
        background-color: purple;
    }
}

@media (max-width: 950px) {
    .page{
        flex-direction: column;
    }
    .sidebar{
        display: none;
    }

    .mobile_navbar{
        display: flex;
        background-color: #004643;
        width: 100%;
        height: 80px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu_box{
        border: 1px solid white;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }

    .menu_box_active{
        background-color: white;
    }

    .mobile_navbar img{
        width: 130px;
        height: 40px;
    }

    .menu_area{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.76);
        width: 100vw;
        height: 100vh;
    }

    .mobile_sidebar{
        background-color: #004643;
        width: 80%;
        height: 100%;
    }

    .mobile_sidebar_header{
        padding: 20px;
        display: flex;
        justify-content: end;
    }

    .mobile_sidebar_header p{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .mobile_profile_button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        overflow: hidden;
    }

    .mobile_profile_button img{
        width: 100%;
        height: 100%;
    }

    .mobile_profile_button_active{
        box-shadow: 0px 0px 10px white;
    }

    .mobile_wrapper{
        display: flex;
    }

    .mobile_sidebar_item{
        display: flex;
        align-items: center;
        padding: 20px;
        color: white;
    }

    .mobile_sidebar_item svg{
        margin-right: 10px;
    }

    .mobile_sidebar_item_active{
        background-color: #00635e;
        font-weight: bold;
    }
}